# https://dart.dev/guides/libraries/private-files
# Created by `dart pub`
.dart_tool/

# Large binary samples and generated artifacts (not for VCS)
*.yuv
*.ivf
*.rgb24
*.mp4
*.wav
*.dll
*.so
*.dylib
*.key
*.crt
*.pem
tmp/
generated_bindings.dart
first_frame_decoded.png
